<div class="col-lg-2 jenre_reserch">
<ul class="list-group">
	<li class="list-group-item"><strong>ジャンル検索</strong></li>
	<% genres.each do |genre| %>
		<li class="list-group-item"><%= link_to genre.name, genre_path(genre) %></li>
	<% end %>
</ul>
</div>