<div class="top_text">
ようこそ、NaganoCakeへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。
</div>

<h2 class="top_product">オススメ商品</h2>
<table class="top_product">
<td>
<p><img src="no_image.jpg"></p>
<p>商品名</p>
<p>¥1,000</p>
</td>
<td>
<p><img src="no_image.jpg"></p>
<p>商品名</p>
<p>¥1,000</p>
</td>
<td>
<p><img src="no_image.jpg"></p>
<p>商品名</p>
<p>¥1,000</p>
</td>
<td>
<p><img src="no_image.jpg"></p>
<p>商品名</p>
<p>¥1,000</p>
</td>

</table>

<p class="top_index"><%= link_to 'もっと見る＞',"products" %></p>