/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .nav navbar-nav {
     padding: auto auto;
 }
 .h2 {
     padding: auto 50px auto 20px;
 }
 .admin_mail {
     margin: auto 30px;
 }
 .admin_password {
     margin: auto 57px;
 }
 .actions {
     padding-top: 40px;
     margin: auto 100px;
 }
//  マイページ
 .member_show_edit_button {
     padding-left: 20px;
 }
 .member_show_password_button {
    padding-left: 20px;
 }
 .sign_up_link {
     margin-top: 35px;
 }
 .mypage {
     margin-top: 40px;
     margin-left: 80px;
 }
 .index_button {
     padding-top: 30px;
 }