// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_text{
  font-size: large;
  margin-top:100px;
  margin-left:400px;
  margin-bottom:50px;
}
.top_product{
  margin-left:400px;
}
.top_img{
  width:200px;
  height:200px;
}
.top_index{
  margin-left:1050px;
}
.about{
  font-size: large;
  text-align: center;
  margin-top:100px;
}
